body {
}

.no-margin {
    margin: 0px;
}

.no-margin-top {
    margin-top: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.no-margin-left {
    margin-left: 0px;
}

.no-margin-right {
    margin-right: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-7 {
    margin: 7px;
}

.margin-top-7 {
    margin-top: 7px;
}

.margin-bottom-7 {
    margin-bottom: 7px;
}

.margin-left-7 {
    margin-left: 7px;
}

.margin-right-7 {
    margin-right: 7px;
}

.margin-10 {
    margin: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-17 {
    margin: 17px;
}

.margin-top-17 {
    margin-top: 17px;
}

.margin-bottom-17 {
    margin-bottom: 17px;
}

.margin-left-17 {
    margin-left: 17px;
}

.margin-right-17 {
    margin-right: 17px;
}

.margin-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}